.user-menu {
    box-shadow: 0px 33px 80px rgba(2, 12, 30, 0.07), 0px 22px 63px rgba(2, 12, 30, 0.033);

    &::before{
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='7' viewBox='0 0 16 7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23fff' d='M16 2.23607C16 0.749304 14.4354 -0.217688 13.1056 0.447213L-6.99382e-07 7L16 7L16 2.23607Z'/%3e%3c/svg%3e ");
        width: 16px;
        height: 7px;
        position: absolute;
        right: 0;
        bottom: 100%;
    }

    &__content {
        overflow: hidden;
        padding-top: 8px;
        border-radius: 2px 0px 2px 2px;
        background-color: #fff;
    }

    &__item {
        white-space: nowrap;
        width: 100%;
        padding: 14px 32px 14px 24px;
        display: flex;
        align-items: center;
        fill: $dark;
        color: $dark;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        transition: fill 0.35s ease, background-color 0.35s ease;

        &:hover{
            fill: $blue;
            background-color: $gray-light;            
        }

        .icon{
            width: 24px;
            height: 24px;
            margin-right: 24px;

        }
        &--exit {
            padding: 22px 32px 22px 24px;
            border-top: 1px solid #F8F8F8;
        }
    }
}
