.section-questions {
    
    @media only screen and (max-width: $bp-lg){
        padding: 88px 0;
    }
    
    &__inner {
        padding: 80px 80px;
        background-color: #fff;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-lg){
            padding: 56px 32px;
        }
        
        @media only screen and (max-width: $bp-md){
            padding: 32px 16px;
            margin: 0 -16px;
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 18px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    &__content {
        margin-top: 14px;
    }

    &__item {
        margin-bottom: 8px;
        
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}