<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>index</title>
		<meta name="theme-color" content="#fff">
		<link rel="icon" type="image/x-icon" href="img/svg/favicon.svg">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="styles/main.css">

	</head>
	<body class="body">
		<!-- header -->
		@@include("../blocks/modules/header/header.html")
		<!-- header  ends -->

		<main class="main">
			<div class="content">

				<section class="section section-intro" style="background-image: url(img/decorations/bg.png)">
					<div class="container">
						<div class="section-intro__inner">
							<div class="h1 section-intro__title">
								Дистрибьютор <br> стоматологических брендов
							</div>
							<div class="text-xl section-intro__text">
								Товары от ведущих Японских и Российских производителей 
							</div>
							<div class="section-intro__actions d-flex d-md-none">
								<a href="registration.html" class="button button--m button--inverted section-intro__button">
									<span class="button__text">
										Регистрация
									</span>
								</a>
								<a href="#" class="button button--m button--inverted section-intro__button" data-bs-toggle="modal" data-bs-target="#modal-login">
									<span class="button__text">
										Вход
									</span>
								</a>
							</div>
							<div class="section-intro__sliders">
								<div class="swiper slider section-intro__slider-main jsIntroMainSlider">
									<div class="swiper-wrapper slider__wrapper">
										<div class="swiper-slide slider__slide">
											<div class="section-intro__item">
												<div class="section-intro__item-main">
													<div class="h2 section-intro__item-title">
														Получайте гарантированные призы за каждые
														60 баллов!
													</div>
													<div class="text-xl section-intro__item-text">
														Получайте гарантированные призы за каждые
														60 баллов!
													</div>
													<a href="#" class="button section-intro__item-button">
														<span class="button__text">
															Подробнее ­→	
														</span>
													</a>
												</div>
												<div class="section-intro__img">
													<img src="img/prizes/item-1.png" alt="prize">
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__slide">
											<div class="section-intro__item">
												<div class="section-intro__item-main">
													<div class="h2 section-intro__item-title">
														Clean + Safe
													</div>
													<div class="text-xl section-intro__item-text">
														Получайте гарантированные призы за каждые
														60 баллов!
													</div>
													<a href="#" class="button section-intro__item-button">
														<span class="button__text">
															Подробнее ­→	
														</span>
													</a>
												</div>
												<div class="section-intro__img">
													<img src="img/prizes/item-2.png" alt="prize">
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__slide">
											<div class="section-intro__item">
												<div class="section-intro__item-main">
													<div class="h2 section-intro__item-title">
														Tokuyama Dental
													</div>
													<div class="text-xl section-intro__item-text">
														Получайте гарантированные призы за каждые
														60 баллов!
													</div>
													<a href="#" class="button section-intro__item-button">
														<span class="button__text">
															Подробнее ­→	
														</span>
													</a>
												</div>
												<div class="section-intro__img">
													<img src="img/prizes/item-3.png" alt="prize">
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__slide">
											<div class="section-intro__item">
												<div class="section-intro__item-main">
													<div class="h2 section-intro__item-title">
														Получайте гарантированные призы за каждые
														60 баллов!
													</div>
													<div class="text-xl section-intro__item-text">
														Получайте гарантированные призы за каждые
														60 баллов!
													</div>
													<a href="#" class="button section-intro__item-button">
														<span class="button__text">
															Подробнее ­→	
														</span>
													</a>
												</div>
												<div class="section-intro__img">
													<img src="img/prizes/item-1.png" alt="prize">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="section-intro__slider-thumb">
									<div class="swiper-button-prev slider__button slider__button--prev d-none d-lg-flex">
										<svg class="icon slider__button-icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-left-usage"></use>
										</svg>
									</div>
									<div thumbsSlider="" class="swiper slider jsIntroMainSliderThumb">
										<div class="swiper-wrapper slider__wrapper">
											<div class="swiper-slide slider__slide">
												<div class="section-intro__thumb-item">
													<div class="h6 section-intro__thumb-title">
														Получайте <br>
														призы
													</div>
													<div class="section-intro__thumb-img">
														<img src="img/prizes/item-1.png" alt="prize">
													</div>
												</div>
											</div>
											<div class="swiper-slide slider__slide">
												<div class="section-intro__thumb-item">
													<div class="h6 section-intro__thumb-title">
														Clean + Safe
													</div>
													<div class="section-intro__thumb-img">
														<img src="img/prizes/item-2.png" alt="prize">
													</div>
												</div>
											</div>
											<div class="swiper-slide slider__slide">
												<div class="section-intro__thumb-item">
													<div class="h6 section-intro__thumb-title">
														Tokuyama Dental
													</div>
													<div class="section-intro__thumb-img">
														<img src="img/prizes/item-3.png" alt="prize">
													</div>
												</div>
											</div>
											<div class="swiper-slide slider__slide">
												<div class="section-intro__thumb-item">
													<div class="h6 section-intro__thumb-title">
														Получайте <br>
														призы
													</div>
													<div class="section-intro__thumb-img">
														<img src="img/prizes/item-1.png" alt="prize">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-button-next slider__button slider__button--next d-none d-lg-flex">
										<svg class="icon slider__button-icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-right-usage"></use>
										</svg>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</section>

				<!--  -->

				<section class="section section-promo">
					<div class="container">
						<div class="section-promo__inner">
							<div class="section-promo__main">
								<div class="h2 section-promo__title">
									У вас есть промокод? Выигрывайте призы!
								</div>
								<div class="text-xl section-promo__text">
									Гарантирвоанный приз за каждые 60 баллов. <br class="d-none d-sm-block">
									Общее кол-во призов 9 900 штук!
								</div>
								<div class="section-promo__actions">
									<a href="#" class="button section-promo__button" data-bs-toggle="modal" data-bs-target="#modal-promo">
										<span class="button__text">
											Ввести промокод
										</span>
									</a>
									<a href="#" class="section-promo__link link" data-bs-toggle="modal" data-bs-target="#modal-prizes">
										<svg class="icon">
											<use xlink:href="img/sprites/sprite.svg#prize-usage"></use>
										</svg>
										<span>
											Перечень призов
										</span>
									</a>
									<a href="#" class="section-promo__link link" data-bs-toggle="modal" data-bs-target="#modal-info">
										<svg class="icon">
											<use xlink:href="img/sprites/sprite.svg#question-usage"></use>
										</svg>
										<span>
											Правила акции
										</span>
									</a>
								</div>
							</div>
							<img src="img/decorations/promo.png" alt="" class="section-promo__img">
						</div>
					</div>
				</section>

				<!--  -->

				<section class="section section-list jsForm">
					<form action="#">
						<div class="container">
							<div class="section-list__inner tabs jsTabs">
								<div class="section-list__header">
									<div class="h2 section-list__title">
										Списки победителей
									</div>
									<div class="section-list__header-actions">
										<div class="section-list__tabs-nav tabs__nav">
											<div class="section-list__tabs-link tabs__link jsTabsTrigger is-active">
												<div class="text-18 text-lh text-medium">
													Гарантированные призы
												</div>
											</div>
											<div class="section-list__tabs-link tabs__link jsTabsTrigger">
												<div class="text-18 text-lh text-medium">
													Видео <br class="d-block d-sm-none"> розыгрыша
												</div>
											</div>
										</div>
										<div class="input input--m input--search section-list__input-search">
											<input type="text" class="input__field" placeholder="Введите ваш email" name="search">
											<button class="input__button">
												<svg class="icon">
													<use xlink:href="img/sprites/sprite.svg#search-usage"></use>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<div class="section-list__body tabs__content">
									<div class="section-list__tabs-item tabs__item jsTabsItem is-active">
										<div class="section-list__list">
											<div class="section-list__row section-list__row--title">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														Дата
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														Email
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														Приз
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														Эстелайт Колор шприц Color White 0,9 г (Токуяма, Япония) , шт
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														Эстелайт Колор шприц Color White 0,9 г (Токуяма, Япония) , шт
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														Эстелайт Колор шприц Color White 0,9 г (Токуяма, Япония) , шт
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
											<div class="section-list__row">
												<div class="section-list__col section-list__col--date">
													<div class="text section-list__text">
														18.09.2021
													</div>
												</div>
												<div class="section-list__col section-list__col--email">
													<div class="text section-list__text">
														a***n@gmail.com
													</div>
												</div>
												<div class="section-list__col section-list__col--prize">
													<div class="text section-list__text">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
									
										</div>
										<div class="pagination section-list__pagination">
											<div class="pagination__main">
												<a href="#" class="pagination__button">
													<svg class="icon">
														<use xlink:href="img/sprites/sprite.svg#arrow-left-usage"></use>
													</svg>
												</a>
												<div class="pagination__field">
													<input type="text" class="pagination__input" value="1" name="page">
													<div class="pagination__label">
														из <span>55</span>
													</div>
												</div>
												<a href="#" class="pagination__button">
													<svg class="icon">
														<use xlink:href="img/sprites/sprite.svg#arrow-right-usage"></use>
													</svg>
												</a>
											</div>
										</div>
									</div>
									<div class="section-list__tabs-item tabs__item jsTabsItem">
										<div class="section-list__video">
											<iframe width="100%" height="100%" src="https://www.youtube.com/embed/DWcJFNfaw9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</section>

				<!--  -->

				<section class="section section--gradient section-winners" style="background-image: url(img/decorations/bg.png)">
					<div class="container">
						<div class="section-winners__inner">
							<div class="section-winners__header">
								<div class="h2 section-winners__title">
									Наши победители
								</div>
								<div class="slider__navigation section-winners__navigation jsWinnersSliderNavigation">
									<div class="swiper-button-prev slider__button slider__button--inverted">
										<svg class="icon slider__button-icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-left-usage"></use>
										</svg>
									</div>
									<div class="swiper-button-next slider__button slider__button--inverted">
										<svg class="icon slider__button-icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-right-usage"></use>
										</svg>
									</div>
								</div>
							</div>
							<div class="section-winners__slider">
								<div class="swiper slider jsWinnersSlider">
									<div class="swiper-wrapper slider__wrapper">
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-1.png" alt="" class="winner-card__img">
													<span class="winner-card__number">
														1
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="h4 winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														Поездка в Японию
													</div>
												</div>
											</div>
											
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-2.png" alt="" class="winner-card__img">
													<span class="winner-card__number winner-card__number--second">
														2
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-2.png" alt="" class="winner-card__img">
													<span class="winner-card__number winner-card__number--second">
														2
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-1.png" alt="" class="winner-card__img">
													<span class="winner-card__number">
														1
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														Поездка в Японию
													</div>
												</div>
											</div>
											
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-1.png" alt="" class="winner-card__img">
													<span class="winner-card__number">
														1
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														Поездка в Японию
													</div>
												</div>
											</div>
											
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-2.png" alt="" class="winner-card__img">
													<span class="winner-card__number winner-card__number--second">
														2
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-2.png" alt="" class="winner-card__img">
													<span class="winner-card__number winner-card__number--second">
														2
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-1.png" alt="" class="winner-card__img">
													<span class="winner-card__number">
														1
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														Поездка в Японию
													</div>
												</div>
											</div>
											
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-2.png" alt="" class="winner-card__img">
													<span class="winner-card__number winner-card__number--second">
														2
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-1.png" alt="" class="winner-card__img">
													<span class="winner-card__number">
														1
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														Поездка в Японию
													</div>
												</div>
											</div>
											
										</div>
										<div class="swiper-slide slider__item">
											<div class="winner-card">
												<div class="winner-card__left">
													<img src="img/winners/item-2.png" alt="" class="winner-card__img">
													<span class="winner-card__number winner-card__number--second">
														2
													</span>
												</div>
												<div class="winner-card__right">
													<div class="winner-card__mail">
														s***a@bk.ru	
													</div>
													<div class="winner-card__name">
														Александр Константинов
													</div>
													<div class="winner-card__prize">
														ОМНИХРОМА БЛОКЕР унидоза 0,2 г - 20 шт (Токуяма,Япония)
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!--  -->

				<section class="section section-questions">
					<div class="container">
						<div class="section-questions__inner">
							<div class="h2 section-questions__title">
								Все ответы о Proteco - портал для врачей
							</div>
							<div class="text section-questions__text">
								Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. 
							</div>
							<div class="text section-questions__text">
								Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
							</div>
							<div class="section-questions__content">
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Какая продукция участвует в акции?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<ul class="list">
											<li class="list__item">
												Сигма (шприцы, набор 3, 6 и 9 шприцев).
											</li>
											<li class="list__item">
												Флоу Квик (шприцы, набор 3 шприца),
											</li>
											<li class="list__item">
												Флоу Квик Хай Флоу (шприцы),
											</li>
											<li class="list__item">
												Астериа (шприцы, набор),
											</li>
											<li class="list__item">
												Палфик (шприцы, набор),
											</li>
											<li class="list__item">
												Постериор (шприцы),
											</li>
											<li class="list__item">
												Колор (шприцы, набор),
											</li>
											<li class="list__item">
												Аксессуары (шкала оттенков, кисти),
											</li>
											<li class="list__item">
												Бонд Форс 2 в любой комплектации,
											</li>
											<li class="list__item">
												Шилд Форс, Ребейз,
											</li>
											<li class="list__item">
												ЕЁ-Бонд,
											</li>
											<li class="list__item">
												Уан-Ап Бонд,
											</li>
											<li class="list__item">
												Софрелайнер M и S,
											</li>
											<li class="list__item">
												Ионотайт,
											</li>
											<li class="list__item">
												Балк Филл Флоу шприцы,
											</li>
											<li class="list__item">
												Юниверсал Флоу шприцы,

											</li>
											<li class="list__item">
												Омнихрома
											</li>
											<li class="list__item">
												Омнихрома Блокер (шприцы)
											</li>
										</ul>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Сколько баллов зачисляется при регистрации кода?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Какие призы можно выиграть в финальном розыгрыше?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Какая территория проведения акции?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<ul class="list">
											<li class="list__item">
												Сигма (шприцы, набор 3, 6 и 9 шприцев).
											</li>
											<li class="list__item">
												Флоу Квик (шприцы, набор 3 шприца),
											</li>
											<li class="list__item">
												Флоу Квик Хай Флоу (шприцы),
											</li>
											<li class="list__item">
												Астериа (шприцы, набор),
											</li>
											<li class="list__item">
												Палфик (шприцы, набор),
											</li>
											<li class="list__item">
												Постериор (шприцы),
											</li>
											<li class="list__item">
												Колор (шприцы, набор),
											</li>
											<li class="list__item">
												Аксессуары (шкала оттенков, кисти),
											</li>
											<li class="list__item">
												Бонд Форс 2 в любой комплектации,
											</li>
											<li class="list__item">
												Шилд Форс, Ребейз,
											</li>
											<li class="list__item">
												ЕЁ-Бонд,
											</li>
											<li class="list__item">
												Уан-Ап Бонд,
											</li>
											<li class="list__item">
												Софрелайнер M и S,
											</li>
											<li class="list__item">
												Ионотайт,
											</li>
											<li class="list__item">
												Балк Филл Флоу шприцы,
											</li>
											<li class="list__item">
												Юниверсал Флоу шприцы,

											</li>
											<li class="list__item">
												Омнихрома
											</li>
											<li class="list__item">
												Омнихрома Блокер (шприцы)
											</li>
										</ul>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Кто является организатором акции?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Как зарегистрироваться в акции?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Где находится промокод?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<ul class="list">
											<li class="list__item">
												Сигма (шприцы, набор 3, 6 и 9 шприцев).
											</li>
											<li class="list__item">
												Флоу Квик (шприцы, набор 3 шприца),
											</li>
											<li class="list__item">
												Флоу Квик Хай Флоу (шприцы),
											</li>
											<li class="list__item">
												Астериа (шприцы, набор),
											</li>
											<li class="list__item">
												Палфик (шприцы, набор),
											</li>
											<li class="list__item">
												Постериор (шприцы),
											</li>
											<li class="list__item">
												Колор (шприцы, набор),
											</li>
											<li class="list__item">
												Аксессуары (шкала оттенков, кисти),
											</li>
											<li class="list__item">
												Бонд Форс 2 в любой комплектации,
											</li>
											<li class="list__item">
												Шилд Форс, Ребейз,
											</li>
											<li class="list__item">
												ЕЁ-Бонд,
											</li>
											<li class="list__item">
												Уан-Ап Бонд,
											</li>
											<li class="list__item">
												Софрелайнер M и S,
											</li>
											<li class="list__item">
												Ионотайт,
											</li>
											<li class="list__item">
												Балк Филл Флоу шприцы,
											</li>
											<li class="list__item">
												Юниверсал Флоу шприцы,
											</li>
											<li class="list__item">
												Омнихрома
											</li>
											<li class="list__item">
												Омнихрома Блокер (шприцы)
											</li>
										</ul>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Могу ли я зарегистрироваться несколько раз?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Хочу поменять адрес email, указанный при регистрации
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Как узнать о зачислении гарантированного приза?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<ul class="list">
											<li class="list__item">
												Сигма (шприцы, набор 3, 6 и 9 шприцев).
											</li>
											<li class="list__item">
												Флоу Квик (шприцы, набор 3 шприца),
											</li>
											<li class="list__item">
												Флоу Квик Хай Флоу (шприцы),
											</li>
											<li class="list__item">
												Астериа (шприцы, набор),
											</li>
											<li class="list__item">
												Палфик (шприцы, набор),
											</li>
											<li class="list__item">
												Постериор (шприцы),
											</li>
											<li class="list__item">
												Колор (шприцы, набор),
											</li>
											<li class="list__item">
												Аксессуары (шкала оттенков, кисти),
											</li>
											<li class="list__item">
												Бонд Форс 2 в любой комплектации,
											</li>
											<li class="list__item">
												Шилд Форс, Ребейз,
											</li>
											<li class="list__item">
												ЕЁ-Бонд,
											</li>
											<li class="list__item">
												Уан-Ап Бонд,
											</li>
											<li class="list__item">
												Софрелайнер M и S,
											</li>
											<li class="list__item">
												Ионотайт,
											</li>
											<li class="list__item">
												Балк Филл Флоу шприцы,
											</li>
											<li class="list__item">
												Юниверсал Флоу шприцы,

											</li>
											<li class="list__item">
												Омнихрома
											</li>
											<li class="list__item">
												Омнихрома Блокер (шприцы)
											</li>
										</ul>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Как получить приз?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
								<div class="question-block section-questions__item jsAccordion">
									<div class="question-block__header jsAccordionTrigger">
										<div class="text question-block__title">
											Нужно ли участнику акции оплачивать налоги при зачислении призов?
										</div>
										<svg class="icon question-block__icon">
											<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
										</svg>
									</div>
									<div class="question-block__body jsAccordionBody">
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											В акции принимает участие следующая продукция Tokuyama Dental, промаркированная акционными стикерами:
										</p>
										<p class="text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis suscipit provident numquam, dignissimos quidem necessitatibus perferendis cum sint repellat deleniti, optio maxime pariatur. At corrupti commodi laudantium dicta voluptatem.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!--  -->
				
				<section class="section section-registration">
					<div class="container">
						<div class="section-registration__inner">
							<img src="img/decorations/registration-main.png" alt="bg" class="section-registration__img-main">
							<img src="img/decorations/registration-second.svg" alt="" class="section-registration__img-second">
							<div class="section-registration__main">
								<div class="h2 section-registration__title">
									Зарегистрируйся <br>
									в один клик
								</div>
								<div class="text-xl section-registration__text">
									Укажите телефон и мы отправим СМС для быстрой регистрации
								</div>
								<div class="section-registration__form jsForm">
									<form action="#">
										<div class="input input--phone section-registration__input">
											<input type="text" class="input__field jsInput jsPhoneMask jsInputReq" name="phone">
											<span class="input__label">
												Введите номер
											</span>
											<span class="input__error">
												Ошибка
											</span>
										</div>
										<button class="button section-registration__button jsSubmitButton">
											<span class="button__text">
												Отправить
											</span>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- footer -->
			@@include("../blocks/modules/footer/footer.html")
			<!-- footer  ends -->
		</main>

		
		<!-- modal -->
		@@include("../blocks/modules/modal/modal.html")
		<!-- modal  ends -->


		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
