<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Index</title>
		<meta name="theme-color" content="#fff">
		<link rel="icon" type="image/x-icon" href="img/svg/favicon.svg">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="styles/main.css">
	
	</head>
	<body>
		
		<main class="main" style="background-color: #FAFAFA;">
			<div class="map-navigation">
				<div class="map-navigation__header">
					<div class="h2 map-navigation__title">
						Карта сайта
					</div>
				</div>
				<div class="map-navigation__body">
					<ul class="map-navigation__list">
						<li class="map-navigation__item">
							<a href="index.html" target="_blank">
								index.html
							</a>
						</li>
						<li class="map-navigation__item">
							<a href="registration.html" target="_blank">
								registration.html
							</a>
						</li>
						<li class="map-navigation__item">
							<a href="personal-promo.html" target="_blank">
								personal-promo.html
							</a>
						</li>
						<li class="map-navigation__item">
							<a href="personal-account.html" target="_blank">
								personal-account.html
							</a>
						</li>
						<li class="map-navigation__item">
							<a href="personal-support.html" target="_blank">
								personal-support.html
							</a>
						</li>
						<li class="map-navigation__item">
							<a href="marking.html" target="_blank">
								marking.html
							</a>
						</li>
					</ul>
				</div>
			</div>
		</main>

		<!-- modal -->
		@@include("../blocks/modules/modal/modal.html")
		<!-- modal  ends -->
		
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
