<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>index</title>
		<meta name="theme-color" content="#fff">
		<link rel="icon" type="image/x-icon" href="img/svg/favicon.svg">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="styles/main.css">

	</head>
	<body class="body">
		<!-- header -->
		@@include("../blocks/modules/header-personal/header-personal.html")
		<!-- header  ends -->

		<main class="main">
			<div class="content">
				<section class="section section--personal">
					<div class="container">
						<div class="section__inner">
							<div class="section__title">
								Поддержка
							</div>
						</div>
						<div class="support-block">
							<div class="support-block__item">
								<div class="row support-block__row">
									<div class="col col-12 support-block__col">
										<div class="h3 support-block__title">
											Гарантия качества
										</div>
										<p class="text-16">
											Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: понимание сути ресурсосберегающих технологий играет определяющее значение для экономической целесообразности принимаемых решений. 
										</p>
										<p class="text-16">
											Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
										</p>
									</div>
								</div>
							</div>
							<div class="support-block__item">
								<div class="row support-block__row">
									<div class="col col-12 support-block__col">
										<div class="h3 support-block__title">
											Часто задаваемые вопросы
										</div>
										<p class="text-16">
											Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: понимание сути ресурсосберегающих технологий играет определяющее значение для экономической целесообразности принимаемых решений. 
										</p>
										<p class="text-16">
											Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
										</p>
										<div class="question-block question-block--l support-block__question jsAccordion">
											<div class="question-block__header jsAccordionTrigger">
												<div class="text-16 question-block__title">
													В своём стремлении повысить качество жизни, они забывают, что семантический разбор внешних
												</div>
												<svg class="icon question-block__icon">
													<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
												</svg>
											</div>
											<div class="question-block__body jsAccordionBody">
												<p class="text-16">
													Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: понимание сути ресурсосберегающих технологий играет определяющее значение для экономической целесообразности принимаемых решений. 
												</p>
												<p class="text-16">
													Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
												</p>
											</div>
										</div>
										<div class="question-block question-block--l support-block__question jsAccordion">
											<div class="question-block__header jsAccordionTrigger">
												<div class="text-16 question-block__title">
													Современные технологии достигли такого уровня, что новая модель организационной.
												</div>
												<svg class="icon question-block__icon">
													<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
												</svg>
											</div>
											<div class="question-block__body jsAccordionBody">
												<p class="text-16">
													Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: понимание сути ресурсосберегающих технологий играет определяющее значение для экономической целесообразности принимаемых решений. 
												</p>
												<p class="text-16">
													Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
												</p>
												<ul class="list">
													<li class="list__item">
														Alias possimus nesciunt in reiciendis dignissimos fugiat esse aut soluta quo voluptatum veniam quidem atque quasi, incidunt, voluptatibus laudantium repudiandae.
													</li>
													<li class="list__item">
														Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id tempore
													</li>
													<li class="list__item">
														Fugiat esse aut soluta quo voluptatum veniam quidem atque quasi, incidunt, voluptatibus laudantium repudiandae.
													</li>
													<li class="list__item">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas facere aperiam eum, sed rem nulla nostrum recusandae distinctio perferendis deserunt incidunt itaque esse numquam ex harum quia amet? Distinctio, in!
													</li>
												</ul>
											</div>
										</div>
										<div class="question-block question-block--l support-block__question jsAccordion">
											<div class="question-block__header jsAccordionTrigger">
												<div class="text-16 question-block__title">
													В частности, повышение уровня гражданского сознания обеспечивает широкому кругу. 
												</div>
												<svg class="icon question-block__icon">
													<use xlink:href="img/sprites/sprite.svg#arrow-down-usage"></use>
												</svg>
											</div>
											<div class="question-block__body jsAccordionBody">
												<p class="text-16">
													Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: понимание сути ресурсосберегающих технологий играет определяющее значение для экономической целесообразности принимаемых решений. 
												</p>
												<p class="text-16">
													Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="support-block__item">
								<div class="row support-block__row">
									<div class="col col-12 col-xl-6 support-block__col">
										<div class="h3 support-block__title">
											Не нашли нужного ответа? <br>
											Свяжитесь с нами
										</div>
										<p class="text-16">
											Но курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: понимание сути ресурсосберегающих технологий играет определяющее значение для экономической целесообразности принимаемых решений. 
										</p>
										<p class="text-16">
											Безусловно, убеждённость некоторых оппонентов способствует подготовке и реализации укрепления моральных ценностей. Повседневная практика.
										</p>
									</div>
									<div class="col col-12 col-xl-6 support-block__col">
										<div class="support-block__form jsForm">
											<form action="#">
												<div class="select select--l support-block__form-item">
													<select class="select__item jsSelect" name="state" >
														<option></option>
														<option value="1">Категория 1</option>
														<option value="2">Категория 2</option>
														<option value="3">Категория 3</option>
														<option value="4">Категория 4</option>
														<option value="5">Категория 5</option>
														<option value="6">Категория 6</option>
														<option value="7">Категория 7</option>
														<option value="8">Категория 8</option>
														<option value="9">Категория 9</option>
													</select>
													<div class="select__label">
														Выберите категорию вопроса
													</div>
												</div>
												<div class="select select--l select--search support-block__form-item">
													<select class="select__item jsSelect" name="state" >
														<option></option>
														<option value="1">Тема 1</option>
														<option value="2">Тема 2</option>
														<option value="3">Тема 3</option>
														<option value="4">Тема 4</option>
														<option value="5">Тема 5</option>
														<option value="6">Тема 6</option>
														<option value="7">Тема 7</option>
														<option value="8">Тема 8</option>
														<option value="9">Тема 9</option>
													</select>
													<div class="select__label">
														Укажите тему вопроса
													</div>
												</div>
												<div class="input input--textarea support-block__form-item">
													<textarea name="text" id="" cols="30" rows="4"  class="input__field" placeholder="Введите вопрос"></textarea>
												</div>
												<div class="support-block__form-item">
													<label class="input-file input-file--simple support-block__form-file">
														<input type="file" class="input-file__input jsFileInput" name="file">
														<div class="input-file__wrapper">
															<svg class="icon input-file__icon">
																<use xlink:href="img/sprites/sprite.svg#paperclip-usage">
															   </use>
															</svg>
															<div class="input-file__text jsFileName">
																Прикрепить файл
															</div>
														</div>
													</label>
													<button type="submit" class="button button--l support-block__form-button jsFormSubmitButton">
														<span class="button__text">
															Отправить вопрос
														</span>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>

		
		<!-- modal -->
		@@include("../blocks/modules/modal/modal.html")
		<!-- modal  ends -->


		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
