<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Index</title>
		<meta name="theme-color" content="#fff">
		<link rel="icon" type="image/x-icon" href="img/svg/favicon.svg">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="styles/main.css">
	
	</head>
	<body>


		
		<main class="main" style="background-color: #fff;">
			<div class="container pt-4 pb-4">
				<div class="row mb-3">
					<div class="col-auto mr-3">
						<a href="#" class="button">
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button">
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--icon">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>
				
				<!-- // -->

				<div class="row mb-3">
					<div class="col-auto">
						<a href="#" class="button button--l">
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--l">
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--l">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--l button--icon">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>

				<!-- // -->

				<div class="row mb-3">
					<div class="col-auto">
						<a href="#" class="button button--m">
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--m">
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--m">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--m button--icon">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>

				<!-- // -->

				<div class="row mb-3">
					<div class="col-auto">
						<a href="#" class="button button--s">
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--s">
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--s">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--s button--icon">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>
					
				<!-- /// -->
				<div class="row pb-3 pt-3" style="background-color: #333333;">
					<div class="col-auto">
						<a href="#" class="button button--disabled" disabled>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--disabled" disabled>
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--disabled" disabled>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--disabled button--icon" disabled>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>
				
				<!-- // -->

				<div class="row pb-3" style="background-color: #333333;">
					<div class="col-auto">
						<a href="#" class="button button--contour">
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--contour">
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--contour">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--contour button--icon">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>

				<!-- // -->

				<div class="row pb-3 mb-3" style="background-color: #333333;">
					<div class="col-auto">
						<a href="#" class="button button--contour button--inverted">
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--contour button--inverted">
							<span class="button__text">
								Кнопка
							</span>
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--contour button--inverted">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
							<span class="button__text">
								Кнопка
							</span>
						</a>
					</div>
					<div class="col-auto mr-3">
						<a href="#" class="button button--contour button--inverted button--icon">
							<svg class="icon button__icon">
								<use xlink:href="img/sprites/sprite.svg#clock-usage"></use>
							</svg>
						</a>
					</div>
				</div>
				
				<!-- /// -->

				<div class="row py-3">
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--phone">
							<input type="text" class="input__field jsInput jsPhoneMask jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--l input--phone">
							<input type="text" class="input__field jsInput jsPhoneMask jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--m input--phone">
							<input type="text" class="input__field jsInput jsPhoneMask jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--phone" disabled>
							<input type="text" class="input__field jsInput jsPhoneMask jsInputReq" name="phone">	
							<label class="input__label">
								Введите номер
							</label>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
				</div>

				<div class="row pb-3">
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input">
							<input type="text" class="input__field jsInput jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--l">
							<input type="text" class="input__field jsInput jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--m">
							<input type="text" class="input__field jsInput jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input" disabled>
							<input type="text" class="input__field jsInput jsInputReq" name="phone">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
				</div>

				<div class="row pb-3">
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--icon-left">
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--l input--icon-left">
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--m input--icon-left">
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--icon-left" disabled>
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
				</div>

				<div class="row pb-3 mb-3">
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--icon-right">
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--l input--icon-right">
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--m input--icon-right">
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<div class="input input--icon-right" disabled>
							<input type="text" class="input__field jsInput jsInputReq" name="placeholder">	
							<svg class="icon input__icon">
								<use xlink:href="img/sprites/sprite.svg#frame-usage"></use>
							</svg>
							<span class="input__label">
								Введите номер
							</span>
							<span class="input__error">
								Ошибка
							</span>
						</div>
					</div>
				</div>

				<div class="row py-3 mb-3">
					<div class="col col-6 col-lg-4 col-xl-3 mr-3">
						<div class="select">
							<select class="select__item jsSelect" name="state" >
								<option></option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
							</select>
							<div class="select__label">
								Label
							</div>
						</div>
					</div>

					<div class="col col-6 col-lg-4 col-xl-3 mr-3">
						<div class="select select--l">
							<select class="select__item jsSelect" name="state" >
								<option></option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
							</select>
							<div class="select__label">
								Label
							</div>
						</div>
					</div>
					<div class="col col-6 col-lg-4 col-xl-3 mr-3">
						<div class="select select--simple">
							<select class="select__item jsSelect" name="state" >
								<option></option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
							</select>
							<div class="select__label">
								Label
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="select" disabled>
							<select class="select__item jsSelect" name="state" >
								<option></option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
								<option value="AL">Alabama</option>
								<option value="WY">Wyoming</option>
							</select>
							<div class="select__label">
								Label
							</div>
						</div>
					</div>
				</div>

				<div class="row py-3 mb-3">
					<div class="col col-6">
						<div class="input input--textarea">
							<textarea name="" id="" cols="30" rows="4"  class="input__field" placeholder="Введите вопрос"></textarea>
						</div>
					</div>
					<div class="col col-6">
						<div class="input input--textarea" disabled>
							<textarea name="" id="" cols="30" rows="4"  class="input__field" placeholder="Введите вопрос"></textarea>
						</div>
					</div>
				</div>

				<div class="row py-3">
					<div class="col col-3 mr-3">
						<label class="input-file">
							<input type="file" class="input-file__input jsFileInput">
							<div class="input-file__wrapper">
								<svg class="icon input-file__icon">
									<use xlink:href="img/sprites/sprite.svg#paperclip-usage">
								   </use>
								</svg>
								<div class="input-file__text jsFileName">
									Прикрепить файл
								</div>
							</div>
						</label>
					</div>
					<div class="col col-3 mr-3">
						<label class="input-file input-file--l">
							<input type="file" class="input-file__input jsFileInput">
							<div class="input-file__wrapper">
								<svg class="icon input-file__icon">
									<use xlink:href="img/sprites/sprite.svg#paperclip-usage">
								   </use>
								</svg>
								<div class="input-file__text jsFileName">
									Прикрепить файл
								</div>
							</div>
						</label>
					</div>
					<div class="col col-3">
						<label class="input-file input-file--simple">
							<input type="file" class="input-file__input jsFileInput">
							<div class="input-file__wrapper">
								<svg class="icon input-file__icon">
									<use xlink:href="img/sprites/sprite.svg#paperclip-usage">
								   </use>
								</svg>
								<div class="input-file__text jsFileName">
									Прикрепить файл
								</div>
							</div>
						</label>
					</div>
				</div>

				<div class="row pb-3">
					<div class="col col-6 col-md-3 mr-3">
						<label class="radio">
							<input type="radio" class="radio__input" name="raio-1" value="1" checked>
							<div class="radio__wrapper">
								<div class="radio__icon"></div>
								<div class="text-md radio__text">
									Оформить как брак
								</div>
							</div>
						</label>
					</div>
					<div class="col col-6 col-md-3 mr-3">
						<label class="radio">
							<input type="radio" class="radio__input" name="raio-1" value="2">
							<div class="radio__wrapper">
								<div class="radio__icon"></div>
								<div class="text-md radio__text">
									Оформить как брак
								</div>
							</div>
						</label>
					</div>
					<div class="col col-6 col-md-3 mr-3">
						<label class="radio">
							<input type="radio" class="radio__input" name="raio-21" value="3" disabled checked>
							<div class="radio__wrapper">
								<div class="radio__icon"></div>
								<div class="text-md radio__text">
									Оформить как брак
								</div>
							</div>
						</label>
					</div>
					<div class="col col-6 col-md-3 mr-3">
						<label class="radio">
							<input type="radio" class="radio__input" name="raio-1" value="3" disabled>
							<div class="radio__wrapper">
								<div class="radio__icon"></div>
								<div class="text-md radio__text">
									Оформить как брак
								</div>
							</div>
						</label>
					</div>
				</div>

				<div class="row py-3 mb-3">
					<div class="col col-12 mb-2">
						<label class="radio-large">
							<input type="radio" class="radio-large__input" name="radio-large-1" value="1">
							<div class="radio-large__wrapper">
								<div class="text-md radio-large__text">
									Токояма Астериа, в любой комплектации
								</div>
							</div>
						</label>
					</div>
					<div class="col col-12 mb-2">
						<label class="radio-large">
							<input type="radio" class="radio-large__input" name="radio-large-1" value="1">
							<div class="radio-large__wrapper">
								<div class="text-md radio-large__text">
									Токояма Астериа, набор
								</div>
							</div>
						</label>
					</div>
					<div class="col col-12 mb-2">
						<label class="radio-large">
							<input type="radio" class="radio-large__input" name="radio-large-1" value="3" disabled>
							<div class="radio-large__wrapper">
								<div class="text-md radio-large__text">
									Токояма Астериа, набор
								</div>
							</div>
						</label>
					</div>
				</div>

				<div class="row py-3 mb-3">
					<div class="col col-auto col-md-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<label class="checkbox registration__checkbox">
							<input type="checkbox" class="checkbox__input jsCheckbox jsInputReq" name="checkbox" checked>
							<div class="checkbox__wrapper">
								<div class="checkbox__icon">
									<svg class="icon">
										<use xlink:href="img/sprites/sprite.svg#ok-usage"></use>
									</svg>
								</div>
								<div class="checkbox__title">
									Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore similique possimus velit explicabo sed non amet necessitatibus reprehenderit veritatis quibusdam at, ratione qui corrupti fugiat error? Incidunt quasi saepe vero.
								</div>
							</div>
						</label>
					</div>
					<div class="col col-auto col-md-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<label class="checkbox registration__checkbox">
							<input type="checkbox" class="checkbox__input jsCheckbox jsInputReq" name="checkbox" checked disabled>
							<div class="checkbox__wrapper">
								<div class="checkbox__icon">
									<svg class="icon">
										<use xlink:href="img/sprites/sprite.svg#ok-usage"></use>
									</svg>
								</div>
								<div class="checkbox__title">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores dicta veritatis tempore quidem sunt reiciendis eligendi error unde. Recusandae repellat tempore nemo odit error culpa adipisci inventore. Nemo, culpa.
								</div>
							</div>
						</label>
					</div>
					<div class="col col-auto col-md-6 col-lg-4 col-xl-3 mr-3 mb-3">
						<label class="checkbox registration__checkbox">
							<input type="checkbox" class="checkbox__input jsCheckbox jsInputReq" name="checkbox" disabled>
							<div class="checkbox__wrapper">
								<div class="checkbox__icon">
									<svg class="icon">
										<use xlink:href="img/sprites/sprite.svg#ok-usage"></use>
									</svg>
								</div>
								<div class="checkbox__title">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi impedit nesciunt quaerat ipsa laudantium mollitia tempora minima omnis assumenda sequi labore quia commodi, maxime nulla nam, in hic ullam.
								</div>
							</div>
						</label>
					</div>
				</div>
			</div>
		</main>

		<!-- modal -->
		@@include("../blocks/modules/modal/modal.html")
		<!-- modal  ends -->
		
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
